@model ECommerce.Models.Home.FilterModel

<form asp-controller="Home" asp-action="Filter" method="post">
    <fieldset>
        <legend>Выберите нужный бренд</legend>
        @foreach (var item in Model.Brands)
        {
            <input type="checkbox" name="Brands" value="@item">@item<br>
        }
    </fieldset>
    <input asp-for="CategoryId" type="hidden" class="form-control" />
    <div class="form-group" style="display:flex; ">
        <input asp-for="PriceDown" class="form-control" id="pricedown"/>
        <label class="control-label" style="padding-left:10px;padding-right:10px;">Цена</label>
        <input asp-for="PriceUp" class="form-control" id="priceup" />
    </div>
        <div class="middle">
            <div class="multi-range-slider">
                <input type="range" id="input-left" min="@Model.PriceDown" max="@Model.PriceUp" value="@Model.PriceDown">
                <input type="range" id="input-right" min="@Model.PriceDown" max="@Model.PriceUp" value="@Model.PriceUp">

                <div class="slider">
                    <div class="track"></div>
                    <div class="range"></div>
                    <div class="thumb left"></div>
                    <div class="thumb right"></div>
                </div>
            </div>
        </div>
    <button type="submit" class="btn btn-secondary" style="height:36px;">Поиск</button>
</form>
        
