@model IEnumerable<Product>

@{ 
    int catId = 0;
    if(Model.Count()>=1)
    {
        catId = Model.FirstOrDefault().CategoryId;
    }
}

<div style="display:flex;">
    <div class="col-3">
        @await Component.InvokeAsync("Filter", new { id = catId})
    </div>
    <div class="col-8">
        <div style="display:flex;">
            <h3>@ViewData["Message"]</h3>
            <span class="headCount">@Model.Count()</span>
            <div style="display: flex; margin: 0 0 0 auto;">
                @await Component.InvokeAsync("Sort", new { id = catId })
            </div>
        </div>
        @*<table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Rait</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C2")</td>
                    <td>@item.Rait</td>
                    <td>
                        <a asp-action="AddFavorite" asp-controller="Favorite" asp-route-id="@item.Id">
                            <i class="fa fa-smile-o text-dark" aria-hidden="true" title="В избранное"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id">
                            <i class="fa fa-cart-plus text-dark" aria-hidden="true" title="В корзину"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>*@

        @foreach (var item in Model)
        {
            <div class="productContent">
                <img src="@item.Image.Img1"/>
                <div>
                    @item.Name
                </div>
                <div>
                    <i>@item.Price.ToString("C2")</i>
                    <i>@item.Rait</i>
                </div>
                <div>
                    <a asp-action="AddFavorite" asp-controller="Favorite" asp-route-id="@item.Id">
                        <i class="fa fa-smile-o text-dark" aria-hidden="true" title="В избранное"></i>
                    </a>
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id">
                        <i class="fa fa-cart-plus text-dark" aria-hidden="true" title="В корзину"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>