@*@model IEnumerable<Product>*@
@model ECommerce.Models.ProductModel.ProductViewModel


<div style="display:flex;">
    <div class="col-2">@await Component.InvokeAsync("Category", new { id = Model.id})</div>
    <div class="col-10">
        <h3>@ViewData["Message"]</h3>
        @foreach (var item in Model.Products)
        {
            <div style="height:150px;">
                Имя @item.Name   категория @item.Category
                <div style="display:flex;">
                    <div style="margin:10px;">
                        <a asp-action="AddFavorite" asp-controller="Favorite" asp-route-id="@item.Id">
                            <i class="fa fa-smile-o text-dark" aria-hidden="true" title="В избранное"></i>
                        </a>
                    </div>
                    <div style="margin:10px;">
                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id">
                            <i class="fa fa-cart-plus text-dark" aria-hidden="true" title="В корзину"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>